/* @keyframes colorShift {
    0% {
      background-color: rgb(153, 182, 194);
    }
    15% {
      background-color: rgb(137, 166, 179);
    }
    30% {
      background-color: rgb(124, 153, 167);
    }
    45% {
      background-color:  rgb(161, 199, 218);
    }
    60% {
      background-color: rgb(148, 183, 201);
    }
    75% {
        background-color: rgb(161, 199, 218);
      }
    90% {
        background-color: rgb(124, 153, 167);
    }
    100% {
        background-color: rgb(137, 166, 179);
    }
  } */

:root {
  --grain: #D7CEC7;
  --oxblood: #76323F;
  --blackboard: #302e2f;
  --tan: #C09F80;
  --transition-speed: 500ms
}

* {
  font-family: 'Merriweather', serif;  
  font-size: 16px;
  text-align: center;

}

body {
  background-image: radial-gradient( circle 758px at 87.5% 77.8%,  var(--grain) 9.6%, rgba(118,50,63,1) 100.2% );
  margin: 0;
  padding: 0;
}

#box-transition {
  position: relative;
}

#box-transition p#name { 
  font-size: 56px;
  position: relative;
  overflow: hidden;
}

#box-transition:hover p#name, p#subname:hover {
  color: black;
  transition: color 0.5s;
  background: linear-gradient(to left, #ad4b5d, #f1e9e3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}



.navbar {
  width: 6rem;
  height: 100vh;
  position: fixed;
  background-color:var(--blackboard);
  text-transform: uppercase;
  transition: width 200ms ease;
}

.navbar:hover {
  width: 14rem;
}

.navbar:hover .link-text {
  display: block;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.nav-item {
  width: 100%;
  padding-bottom: 1rem;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(80%) opacity(.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  /* color:  var(--oxblood); */
  background-color: var(--oxblood);
}

.fa-solid {
  min-width: 1rem;
  margin: 0 1rem;
  color: var(--tan);
  /* padding-bottom: 12rem; */
}

.fa-solid:hover {
  transition: var(--transition-speed);
}

.link-text {
  font-family: 'Open Sans';
  display: none;
  margin: auto;
  color:  var(--tan);
  text-align: center; 
}

.link-text:hover {
  transition: 300ms;
  
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
  transform-origin: center;
}

.logo-text {
  margin-left: 8px;
}

.fa-primary {
  color: #863b48;
}

.fa-secondary {
  color: #ad4b5d;
}

.navbar:hover .logo svg {
  width: 3rem;
  height: 3rem;
  transform: rotate(-180deg) scale(1);
  transition: transform(300ms);
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ABOUT SECTION */
.hover_area {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0; /* hide the area */
  transition: opacity 0.5s;
}

.hover_area:hover ~ .headshot img#img1 {
  opacity: 0;
  pointer-events: none; /* Disable pointer events on img1 to prevent hover effects */
}

.hover_area:hover ~ .headshot img#img2 {
  opacity: 1;
  transition: opacity 0.5s;
}

.headshot {
  position: relative;
}

.headshot img#img2 {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media only screen and (max-width: 450px) {
  .logo-text {
    display: none;
  }
}


/* Small screens */
@media only screen and (max-width: 900px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .logo-text {
    display: inline;
  }
  
  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
    transition: 0ms;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
/* @media only screen and (min-width: 900px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
} */

